@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<DotNetNuke.PowerBI.Models.PowerBIMostViewed>
@using DotNetNuke.Web.Mvc.Helpers
@using DotNetNuke.Web.Client.ClientResourceManagement
@{
    ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage, "~/DesktopModules/MVC/PowerBIEmbedded/Css/module.css", 10, "DnnPageHeaderProvider");
}

    <div class="powerbiMostViewed">
        @if (Model == null)
        {
            <p>@Dnn.LocalizeString("Error")</p>
        }
        else
        {
            <div class="reportsSection">
                <h4>@Dnn.LocalizeString("Reports")</h4>
                <ul class="scrollableList">
                    @if (Model.Reports.Count == 0)
                    {
                        <li class='empty'>@Dnn.LocalizeString("ReportsEmpty")</li>
                    }
                    else
                    {
                        foreach (var r in Model.Reports)
                        {
                            var sid = !string.IsNullOrEmpty(r?.Workspace?.Id) ? "&sid=" + r?.Workspace?.Id : "";
                            <li class='normal@(r.Id.ToString() == Request["reportId"] ? " active" : "")'><a href='@ViewBag.ReportsPage?reportId=@r.Id@sid'>@r.Name</a></li>
                        }
                    }
                </ul>
            </div>
        }

    </div>
    <script>
        window.onload = function () {
            document.getElementsByClassName('scrollableList')[0].scrollTop = 0;
            var menus = document.getElementsByClassName('normal');
            for (var i = 0; i < menus.length; i++) {
                if (menus[i].classList.contains('active')) {
                    document.getElementsByClassName('scrollableList')[0].scrollTop = menus[i].offsetTop;
                }
            }
        }

    </script>