@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<DotNetNuke.PowerBI.Models.EmbedConfig>
@using DotNetNuke.Web.Client.ClientResourceManagement
@{
    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/DesktopModules/MVC/PowerBIEmbedded/scripts/vendors/knockout.min.js", 21);
    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/DesktopModules/MVC/PowerBIEmbedded/scripts/vendors/knockout.validation.min.js", 21);
    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/DesktopModules/MVC/PowerBIEmbedded/scripts/powerbi.min.js", 20);
    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/DesktopModules/MVC/PowerBIEmbedded/scripts/Common.js", 20);
    ClientResourceManager.RegisterScript(Dnn.DnnPage, "https://npmcdn.com/es6-promise@3.2.1", 20);
    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/DesktopModules/MVC/PowerBIEmbedded/scripts/ContentView.js", 25);
    ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage, "~/DesktopModules/MVC/PowerBIEmbedded/Css/module.css", 10, "DnnPageHeaderProvider");
}

<div id="powerbiContentView_@Dnn.ActiveModule.ModuleID" class="powerbiContentView">
    @if (Model == null || string.IsNullOrEmpty(Model.Id))
    {
        if (!string.IsNullOrEmpty(ViewBag.BackgroundImageUrl))
        {
            <img src="@Url.Content(ViewBag.BackgroundImageUrl)" />
        }
        else
        {
            <img src="@Url.Content("~/DesktopModules/MVC/PowerBIEmbedded/images/empty.png")" />
        }
    }
    else if (Model.IsCapacityDisabled)
    {
        <div id="disabledCapacityMessage">
            @Html.Raw(@Model.ErrorMessage)
        </div>
    }
    else if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div id="errorWrapper">
            <h2>@Dnn.LocalizeString("ErrorTitle")</h2>
            <p>@Model.ErrorMessage</p>
        </div> 
    }
    else
    {
        if (ViewBag.ToolbarVisible)
        {
            <div class="pbitoolbar">
                @if (ViewBag.PrintVisible)
                {
                    <a href="#" class="print" title="Print report" data-bind="click: pbiprint"></a>
                }

                @if (ViewBag.BookmarksVisible)
                {
                    <a href="#" class="bookmarks" title="Bookmarks" data-bind="click: openNav"></a>
                }
                @if (ViewBag.FullScreenVisible)
                {
                    <a href="#" class="fullscreen" title="Full screen" data-bind="click: pbifullscreen"></a>
                }
                <a href="#" class="refresh" title="Refresh visual objects and data" data-bind="click: pbirefresh"></a>
                <a href="#" class="reload" title="Reload visual and filters" data-bind="click: pbireload"></a>
            </div>
        }


        <div id="mySidenav_@Dnn.ActiveModule.ModuleID" class="sidenav">
            <div class="navheader">
                <div class="editorTitle">Bookmarks</div>
                <a href="javascript:void(0)" class="closebtn" data-bind="click: closeNav()">&times;</a>
            </div>
            <div class="addBookmarks">
                <input type="text" id="bookmarkName" data-bind="value: newBookmarkName" title="Type bookmark name">
                <a href="#" class="createBookmarks" title="Create bookmark" data-bind="click: onBookmarkCaptureClicked"></a>
                <div data-bind="validationMessage: newBookmarkName" class="not-valid"></div>
            </div>
            <hr>
            <div id="bookmarksWrapper">
                <div id="bookmarksList" data-bind="foreach: bookmarksArray">
                    <div class="showcaseRadioContainer" data-bind="click: $parent.onBookmarkClicked, class: bookmarkClass">
                        <span class="radioTitle" data-bind="text: displayName"></span>
                        <a class="deletebookmark" data-bind="click: $parent.deleteBookmark"></a>
                    </div>

                </div>
            </div>
        </div>
        <div id="embedContainer_@Dnn.ActiveModule.ModuleID" class="mobile-view active"></div>
    }
</div>
